<div class="row">
	<div class="col-xs-offset-3 col-xs-6">
		<div class="panel panel-default">
			<div class="panel-heading">ユーザ編集</div>
			<%= render 'layouts/error_messages', message: @user %>
			
			<%= render 'form', user: @user %>
		</div>
	</div>
</div>