<% if logged_in? %>
	<div class="text-center">
		<h1>商品検索</h1>
		<%= link_to '商品を探す', new_item_path, class:"btn btn-success"%>
	</div>
<% else %>
	<div class="text-center">
		<h1>ログインして下さい</h1>
		<%= link_to 'ログイン', login_path, class:"btn btn-primary "%>	

		<h1>新規登録はこちらです</h1>
		<%= link_to '新規登録', signup_path, class:"btn btn-primary "%>	
	</div>
<% end %>
