<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-3">
		<div class="item">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<img src="<%= @item.image_url %>" alt="">
				</div>
				<div class="panel-body">
					<p><%= @item.name %></p>
					<p><%= @item.price %>円</p>
				</div>
			</div>
		</div>
	</div>
	
	<%# 価格チャートをここに載せる %>
	<div class="col-md-3 col-sm-6 col-xs-12">
		

		<p class="text-center"><%= link_to '楽天詳細ページ', @item.url, targe: '_blank' %></p>
	</div>
	
	
</div>