/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* top page */
.cover {
	/* 設定したい画像 */
  background-image: url("/top_page.png");
  
  margin-top: -20px;
  margin-bottom: 20px;
  width:100%;
  height: 400px;
  /* 画像を上下左右中央寄せ */
  background-position: center center;
  /* タイル状には並べないように指定 */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するディスプレイの大きさに基づいて、背景画像を縦横比を固定しながら調整 */
  background-size: cover;
  /* 画像が読み込まれる前の背景色の指定 */
  background-color: #464646;
}
@media screen and (min-width:0px){
  /*0px以上で適用する内容*/
	.cover p {
		text-align: center;
		color:white;
		line-height: 400px;
		font-family: 'arial unicode ms';
		font-weight: bold;
		font-size: 16px;
	}
	.top_page_font {
		font-size: 8px;
	}
}
@media screen and (min-width:750px){
  /*750px以上で適用する内容*/
	.cover p {
		text-align: center;
		color:white;
		line-height: 400px;
		font-family: 'arial unicode ms';
		font-weight: bold;
		font-size: 36px;
	}
	.top_page_font {
		font-size: 16px;
	}
}
.btn-custom {
	margin-top: -5px;
	margin-bottom: 5px;
}

/* item */
.item-search {
	margin-bottom: 10px;
}
.item .panel-heading {
	height: 250px;
}
.item .panel-heading img {
	width: 100%;
	height: 100%;
}
.item .panel-body {
	height: 80px;
}
.item .item-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.update-button {
	text-align: right;
}
.update-button .right-button {
	margin-left: 5px;
	float:right;
}

.itme_show_font_size {
	font-size: small;
	padding-left: 20px;
	color:#666666;
}
.heart-custom {
	padding-left: 20px;
	color:red;
}

.item .panel-heading img {
	background-size: contain;
}
.color-down {
	color: blue;
}
.color-up {
	color: red;
}
.color-right {
	color: gray;
}
.help {
	margin-bottom: 10px;
	text-align: right;
}

/* want */
.want {
	margin: 10px;
}

/* user-profile */
.item-table table td read-size{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* うーん、本当はinfoの色にしようと思ったが、出来なかった */
.user-profile .panel-footer .panel-custom {
	color: #fff;
	background: #5bc0de;
	border: #5bc0de;
}
.table-edit .table1 {
	width:88%;
}
.table-edit .table2 {
	width:12%;
}